@import 'bootstrap';
@import 'bootstrap/theme';

@import 'buildings-dashboard';
@import 'building-page';
@import 'donut-chart';
@import 'radial-chart';
@import 'historical_days';
@import 'buttons';
@import 'footer';
@import 'loader';
@import 'landing';
@import 'navbar';
@import 'tooltip';

body {
  // background-color: rgb(23, 24, 26);
  // color: white;
  font-family: 'Source Sans Pro', 'Helvetica', 'Calibri', 'sans-serif';
}

html {
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  // Margin bottom by footer height

  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

body.ember-application {
  margin: 0;
  padding: 0;
  text-shadow: 0;
}

body.ember-application {
  // Margin bottom by footer height

  margin-bottom: 60px;
}
