@import 'bootstrap';
@import 'bootstrap/theme';

@import 'buildings-dashboard';
@import 'building-page';
@import 'donut-chart';
@import 'radial-chart';
@import 'historical_days';
@import 'buttons';
@import 'footer';
@import 'loader';

body {
  // background-color: rgb(23, 24, 26);
  // color: white;
  font-family: 'Helvetica', 'Calibri', 'sans-serif';
}

html {
  min-height: 100%;
  position: relative;
}

body {
  // Margin bottom by footer height
  margin-bottom: 60px;
}
// // Example app.scss
// @import 'components/color';
//
// // Custom color settings go here
// // $primary-color: color("pink", "lighten-2");
//
// @import 'components/variables';
// @import 'materialize';
// @import 'ember-cli-materialize';
