.leed-box {
  position: absolute;
  left: -110px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leed {
  height: 100px;
}

.leed-no {
  opacity: 0.2;
}

.leed-text {
  width: 60px;
  position: relative;
  top: -75px;
  text-align: center;
  font-size: 10px;
}

.muted-text {
  opacity: 0.8;
}

.baseline-num {
  position: absolute;
  right: 0;
}

.back {
  position: relative;
  top: 50px;
}

.week li {
  display: inline;
}

.week {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  margin-top: 10px;
}

.main-donut-chart {
  position: relative;
  left: -60px;
  top: -10px;
}

.keys li {
  margin-left: -20px;
  position: relative;
  top: 60px;
  left: -20px;
  list-style: none;
  font-size: 11px;
  padding-top: 3px;
}

.key {
  height: 8px;
  width: 8px;
  background-color: black;
  float: left;
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.humid-key {
  background-color: rgb(26, 213, 222);
}

.tc-key {
  background-color: rgb(160, 255, 3);
}

.noise-key {
  background-color: rgb(233, 11, 58)
}

.aer-key {
  background-color: rgb(255, 149, 0)
}

.overall-key {
  background-color: rgb(0, 122, 255)
}

.overall-score {
  font-size: 4em;
  // font-weight: bold;
}
