.leed-box {
  position: absolute;
  left: -110px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leed {
  height: 100px;
}

.leed-no {
  opacity: 0.2;
}

.leed-text {
  width: 60px;
  position: relative;
  top: -75px;
  text-align: center;
  font-size: 10px;
}

.muted-text {
  opacity: 0.8;
}

.baseline-num {
  position: absolute;
  right: 0;
}

.back {
  position: relative;
  top: -20px;
  left: -20px;
}

.week li {
  display: inline;
  cursor: pointer;
}

.week {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin-top: 30px;
  padding: 0;
}

.keys li {
  margin-left: -20px;
  position: relative;
  top: 40px;
  left: -20px;
  list-style: none;
  font-size: 11px;
  padding-top: 3px;
}

.key {
  height: 8px;
  width: 8px;
  background-color: black;
  float: left;
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.humid-key {
  background-color: rgb(26, 213, 222);
}

.tc-key {
  background-color: rgb(160, 255, 3);
}

.noise-key {
  background-color: rgb(233, 11, 58)
}

.aer-key {
  background-color: rgb(255, 149, 0);
}

.overall-key {
  background-color: #1a962a;
}

.baseline-key {
  background-color: rgb(0, 122, 255);
}

.comfort-zone-legend {
  position: absolute;
  left: 20%;
  top: 10%;
  display: flex;
}

.comfort-zone-key {
  background-color: rgba(63, 191, 10, 0.3);
  height: 10px;
  width: 10px;
  border: 1px solid #3FBF0A;
  margin-right: 8px;
}

.comfort-zone-label {
  position: relative;
  top: -4px;
}

.overall-score {
  font-size: 4em;
  font-family: 'Source Sans Pro', sans-serif;
  // font-weight: bold;
}

.baseline-label {
  font-size: 0.85em;
  font-weight: bold;
}

.baseline-column {
  padding-left: 20px;
}

.sensor-button {
  z-index: -1;
  overflow: hidden;
  margin: 20px 20px 30px 20px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-align: center;
}

.sensor-button:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.warning {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.glyphicon-small {
  font-size: 0.5em;
  margin-left: 10px;
}

.panel-title-text {
  margin-left: 10px;
}

.space {
  height: 50px;
}

.small-space {
  height: 20px;
}

.xsmall-space {
  height: 10px;
}

.baseline-info {
  margin-left: 30px;
}

#reset-baseline {
  position: absolute;
  z-index: 200;
}

.small-text {
  font-size: 2em;
  font-weight: 300;
}

.foundations-list {
  padding: 0;
  margin: 0;
}

.foundations-list li {
  list-style: none;
}

.foundation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.foundation-label {
  align-self: baseline;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  position: relative;
  top: -6px;
}

.rbc-center-text-line0 {
  font-family: 'Source Sans Pro';
}

.foundations-column {
  text-align: center;
  background-color: rgba(41,45,48,0.05);
  border-radius: 5px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
}

.hl {
  border-bottom: 1px groove rgba(0,0,0,0.2);
  width: 60%;
  align-self: center;
}

.score-container {
  padding: 20px 0 0 0;
}

.foundations-title {
  padding: 0 10%;
}

.circle.active {
  font-weight: bold;
}

.main-left-col h3 {
  width: 150%;
}

.main-score-section {
  padding-right: 5%;
}
