.fb {
  fill: #3b5998;
}

.tw {
  fill: #1ab1e8;
}

.gp {
  fill: #efaf25;
}

.pi {
  fill: #ca222d;
}

.li {
  fill: #0074b2;
}

.donut-container {
  display: flex;
  justify-content: center;
  // border: 1px solid red;
}
