.footer .container {
  display: flex;
  flex-direction: column;
  // height of the footer:
  height: 60px;
  justify-content: space-around;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  // Set the fixed height of the footer here
  height: 60px;
  background-color: #f5f5f5;
}

// Lastly, apply responsive CSS fixes as necessary
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer p {
  padding: 0;
  margin: 0;
}
