.jumbotron {
  background-color: rgba(0,0,0,0);
  color: rgba(255,255,255,0.9);
  margin-top: 20%;
  letter-spacing: 5px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 5em;
  border: 1px solid black;
  line-height: 1em;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title-box {
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 10%;
  background: rgba(255,255,255,0.5);
  height: 100%;
  width: 80%;
  padding: 50px;
  border-radius: 1%;
}

#clip{
  /*
  Ensure background is added first
  */
  // background: linear-gradient(to bottom, #eee, rgba(222,112,6,0.2), #de7006),url('/images/backsplash.png');
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./images/backsplash.jpg') no-repeat center center fixed;

  background-size: cover;
   background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  font-size: 6em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
  line-height: 0.9em;
  letter-spacing: 5px;
}
