.jumbotron {
  background-color: rgba(0,0,0,0.55);
  color: white;
  margin-top: 20%;
  letter-spacing: 2px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 5em;
  border: 1px solid black;
}

.landing-title {
  // border:1px solid black;
  // background-color: rgba(0,0,0,0.3);
  // width: 100%;
  // height: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
  // padding: 100px 0;
}
