{{!-- <div class="landing-title">
  <div class="jumbotron">
  HEALTHY BUILDINGS --}}
  {{!-- <p>What if indoor air quality could improve decision making? A new study from the Harvard T.H. Chan School of Public Health’s Center for Health and the Global Environment, SUNY Upstate Medical University and Syracuse University has found that improved indoor environmental quality doubled occupants’ cognitive function test scores.</p>
  <p> --}}
    {{!-- {{#if user}}
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    {{/if}} --}}
  {{!-- </p> --}}
{{!-- </div>
</div> --}}

<div class="title-container">
<div class="title-box">
  <h1 id="clip">HEALTHY<br>BUILDINGS</h1>
</div>
</div>
