<h2>{{sensor.building.name}}: Sensor {{sensor.id}}</h2>
{{#link-to 'building' sensor.building.id}}Back to building overview{{/link-to}}
<h4>Data</h4>
<ul>
  {{#each sensor.points as |point|}}
  <li>{{point.temp}}</li>
  {{/each}}
</ul>
