<div class="foundations-column">
  <h4>Nine Foundations of a Healthy Building</h4>

  <h5 class="muted-text">Click each to learn more.</h5>
  <div class="xsmall-space"></div>
  <div class="hl"></div>
  <div class="xsmall-space"></div>
  <ul class="foundations-list">
    <li class="foundation">
      <a href="#">
        <div id="ventilation"></div>
        <label class="foundation-label">Ventilation</label>
      </a>
    </li>
    <li class="foundation">
      <a href="#">
        <div id="airQuality"></div>
        <label class="foundation-label">Air Quality</label>
      </a>
    </li>
    <li class="foundation">
      <a href="#">
        <div id="noise"></div>
        <label class="foundation-label">Noise</label>
      </a>
    </li>
    <li class="foundation">
      <a href="#">
        <div id="dirtAndDust"></div>
        <label class="foundation-label">Dirt & Dust</label>
      </a>
    </li>
    <li class="foundation">
      <a href="#">
        <div id="pestControl"></div>
        <label class="foundation-label">Pest Control</label>
      </a>
    </li>
    <li class="foundation">
      <a href="#">
        <div id="water"></div>
        <label class="foundation-label">Water</label>
      </a>
    </li>
    <li class="foundation">
      <a href="#">
        <div id="lightingAndViews"></div>
        <label class="foundation-label">Lighting & Views</label>
      </a>
    </li>
    <li class="foundation">
      <a href="#">
        <div id="moisture"></div>
        <label class="foundation-label">Moisture</label>
      </a>
    </li>
    <li class="foundation">
      <a href="#">
        <div id="smokingPolicy"></div>
        <label class="foundation-label">Smoking Policy</label>
      </a>
    </li>
  </ul>
</div>
