<h4>Nine Foundations</h4>

<h6 class="muted-text">Click each foundation to learn more.</h6>

<ul class="foundations-list">
  <li class="foundation" id="ventilation">Ventilation</li>
  <li class="foundation" id="airQuality">airQuality</li>
  <li class="foundation" id="noise">noise</li>
  <li class="foundation" id="dirtAndDust">dirtAndDust</li>
  <li class="foundation" id="pestControl">pestControl</li>
  <li class="foundation" id="water">water</li>
  <li class="foundation" id="lightingAndViews">lightingAndViews</li>
  <li class="foundation" id="moisture">moisture</li>
  <li class="foundation" id="smokingPolicy">smokingPolicy</li>
</ul>
