<h4>Baseline Score</h4>

{{#if building.baseline.certified}}
  <h6 class="muted-text">Baseline health scores are calculated based on LEED credentials.</h6>
{{else}}
  <h6 class="muted-text">For buildings that are not LEED certified, baseline health scores are estimated as 25%.</h6>
{{/if}}

{{building-page/baseline/radial building=building baseline=baseline}}
<h6><a id="reset-baseline" class="muted-text" hidden>Reset</a></h6>

<div class="row">
  <div class="col-md-12 big-baseline-chart">
    <div class="baseline-chart"></div>
    <h5 class="baseline-label">Overall Score</h5>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      {{#each building.measures as |measure|}}
        {{building-page/baseline/score measure=measure}}
      {{/each}}
  </div>
  {{!-- <div class="col-md-12 little-radial-container"> --}}
    <ul class="measures"></ul>
  {{!-- </div> --}}
</div>
