<h4>Baseline Score</h4>

{{!-- {{#if baseline.certified}} --}}
<h6>Baseline score: {{building.baseline.certified}}</h6>
{{!-- {{#each building.baseline as |baseline|}}
  {{baseline.certified}}
{{/each}} --}}
{{!-- {{else}}
<h6>This building is not certified</h6>
{{/if}} --}}
