<div class="modal fade" id="aerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      {{!-- <div class="modal-body"> --}}
      <div class="row small-space">
        {{!-- <div class="small-space"></div> --}}
      </div>
      <div class="row">
        <div class="col-md-12" id="modalContent"></div>
      </div>
      <div class="row small-space">
        {{!-- <div class="small-space"></div> --}}
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
        {{ui-slider ticks='1,2,3,4,5' tooltip='hide' changed='changed' selection="none"}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <ul class="timeline-labels">
            <li id="firstDate">11/8/2015</li>
            <li id="secondDate">11/9/2015</li>
            <li id="thirdDate">11/10/2015</li>
            <li id="fourthDate">11/11/2015</li>
            <li id="fifthDate" class="selected-date">11/12/2015</li>
          </ul>
        </div>
      </div>
      <div class="row small-space">
        {{!-- <div class="small-space"></div> --}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
