<h5>Last 4 Days</h5>

<div class="week">
{{#each days as |day|}}
  {{#if (not-eq day.day 5) }}
    {{building-page/daily/score day=day}}
  {{/if}}
  {{!-- <p>{{#link-to 'day' day.id}}{{day.date}}: {{day.temp}}{{/link-to}}</p> --}}
{{/each}}
</div>
