<h5>Active Sensors</h5>
<h6 class="muted-text">This building has {{numsensors}} active sensors. Click each to learn more.</h6>

<div class="col-md-8">
{{#each building.sensors as |sensor|}}
    {{!-- <button class="btn btn-default sensor-button"> --}}
      <a class="btn btn-primary" role="button">{{#link-to 'sensor' sensor.id}}{{sensor.id}}{{/link-to}}</a>
    {{!-- </button> --}}
{{/each}}
</div>
