<h4>Active Sensors</h4>
<h5 class="muted-text">This building has {{numsensors}} active sensors. Click to see details.</h5>

<div class="col-md-12">
{{#each building.sensors as |sensor|}}
    {{!-- <button class="btn btn-default sensor-button"> --}}
      {{#link-to 'sensor' sensor.id}}<button class="btn btn-primary sensor-button">{{sensor.id}}</button>{{/link-to}}
    {{!-- </button> --}}
{{/each}}
</div>
